<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{/layout/layout1}">
<head>
<meta charset="UTF-8">
<title>CoCoCo | [[${session.team.teamName}]]</title>
<style>
.inner_content h1 {
	font-family: "LeferiPoint-WhiteObliqueA", sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
}

#fileImg {
	width: 18px;
    height: 18px;
    margin: 5px;
}

#file {
	padding-bottom: 15px;
}

#fileTitle {
	font-weight: bold;
    font-size: 18px;
}

#boardText {
	margin: 20px 0;
	height: 300px;
}

#delImg {
	width: 20px;
}

#delImg:hover {
	cursor: pointer;
}

#modifyBtn, #goDetail {
    float: right;
    margin-left: 10px;
}
</style>

<script>
$(function() {
	$("#modifyBtn").click(isEmpty);
	$("#delImg").click(delImg);
	$("#goDetail").click(goDetail);
})

function isEmpty() {
	var title = $("input[name='boardTitle']");
	var text = $("#boardText");
	
	if(title.val().trim() == "") {
		title.focus();
		return false;
	} else if(text.val().trim() == "") {
		text.focus();
		return false;
	}
	
	$("#boardForm").attr("action", "/board/modify");
	$("#boardForm").submit();
}

function delImg() {
	$("input[name='orignalFile']").val(null);
	$("#file").hide();
}

function goDetail() {
	$("#boardForm").submit(false);
	location.href="/board/[[${board.boardId}]]";
}
</script>
</head>
<body>
<div layout:fragment="my_menu" class="my_menu">
	<div th:replace="~{/board/boardSide}"></div>
</div>

<div class="inner_content" layout:fragment="inner_content">

	<h1>게시판 ([[${board.category.categoryName}]])</h1>
	
	<form id="boardForm" method="post" enctype="multipart/form-data">
		<input type="hidden" name="boardId" th:value="${board.boardId}">
		
		<input type="text" name="boardTitle" class="form-control" th:value="${board.boardTitle}">
		<textarea name="boardText" class="form-control" id="boardText">[[${board.boardText}]]</textarea>
		
		<div th:if="${board.boardFile}" id="file">
			<div id="fileTitle">첨부파일</div>
			
			<img th:src="@{/images/disk-icon.png}" id="fileImg">
			[[${board.boardFile.substring(109)}]]
			<img id="delImg" th:src="@{/images/deleteTeamImg.svg}">
			
		</div>
		
		<input type="hidden" name="orignalFile" th:value="${board.boardFile}?${board.boardFile.substring(109)}:null">
		<input type="file" name="file">
		
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
		<button class="btn btn-outline-cococo" id="goDetail">취소</button>
		<input type="submit" class="btn btn-cococo" id="modifyBtn" value="수정">
	</form>
	
</div>
</body>
</html>