
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<select class="form-control" id="calendar_manager" name="calendar_manager" multiple="multiple" size="5">
		<option class="form-control managers" >선택하세요</option>
		<option class="form-control">방근영2</option>
		<option class="form-control">방3</option>
		<option class="form-control" selected="selected">방3</option>
		<option class="form-control" selected="selected">방3</option>
		<option class="form-control">방3</option>
		<option class="form-control">방3</option>
	</select>
</html>

<!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{/work/layout/layout1}" -->