<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header1">
	<div id="top">
<!-- ############################################################# -->		
		<div class="team_logo">
		
		<!-- 로고 이미지 -->
		
		</div><!-- .team_logo -->
<!-- ############################################################# -->		
		
<!-- ##############################경로추가########################## -->
		<div class="nav">
			<div class="nav_manu1"><a href="#"><span>메인</span></a></div>
			<div class="nav_manu2"><a href="#"><span>공지</span></a></div>
			<div class="nav_manu3"><a href="#"><span>게시판</span></a></div>
			<div class="nav_manu4"><a href="#"><span>업무</span></a></div>
			<div class="nav_manu5"><a href="#"><span>관리자</span></a></div>
		</div><!-- .nav -->
<!-- ##############################경로추가########################## -->
	</div><!-- #top -->		
	<div id="cont">
		<div id="side">
			<div class="side_list">
			</div><!-- side_list -->
			
			<div class="my_manu">
			</div><!-- my_manu -->
			
		</div><!-- #side -->
		
		<div class="body">
		</div><!-- body -->
		
		<div class="chat">
		</div><!-- chat -->
	</div><!-- #cont -->
</div>
</html>