@charset "UTF-8";

#modalMyImg {
	position: relative;
    width: 160px;
    height: 160px;
}

#addImgBtn{
	width: 35px;
	position: absolute;
    bottom: 7%;
    right: -90%;
}

#img {
	display: none;
}

.myImg, .myProfileImg {
	width: 150px;
	height: 150px;
	margin: 0px 160px;
}

#delImg {
	display: none;
	width: 20px;
    height: 20px;
    padding-bottom: 2px;
}

#delImg:hover, #addImgBtn:hover {
	cursor: pointer;
}

#modalMyInfo label, #modifyForm label {
	font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

input[type=file] {
    padding: 3px;
}
